html,
body {
    margin: 0;
    padding: 0;
}

#tic-tac-toe {
  text-align: center;
  width: 306px;
  margin: 20px auto;
}

.current {
  padding: 20px;
  padding-bottom: 0;
  font-size: 24px;
  font-family: monospace;
}

.player {
  padding: 10px;
  font-size: 32px;
  font-family: monospace;
}

.position {
  display: inline-block;
  width: 100px;
  border: 1px solid cornflowerblue;
  background: none;
  font-size: 84px;
}

.position.open {
  color: transparent;
}

.position.open:hover {
  background: yellow;
}
